@import '../../../scss/variables.scss';

.directions {
    &__tab+&__tab {
        margin-left: 50px;
    }

    &__tabs {
        margin-top: 25px;
        margin-bottom: 35px;
        text-decoration: none;
    }

    &__tab {
        font-size: 22px;
        line-height: 33px;
        font-weight: 700;
        padding-bottom: 5px;
        &:hover {
            color: $blue;
            text-decoration: none;
        }
    }

    &__tab.tab--active {
        border-bottom: 2px solid $blue;
        color: $blue;
    }
}