.header-nav {
    background: #535860;
}
.header-nav li {
    color: #fff;
    display: inline-block;
    padding: 15px 25px 15px;
}
.header-nav li a, .header-nav li a:visited {
    color: #fff;
    text-decoration: none;
    display: block;
}
.header-nav li:hover {
    background: #82868c;
}
.navigation {
    display: flex;
    justify-content: space-between;
}