@import '../../scss/variables.scss';

.header-nav {
    background: #535860;
    &__active {
        color: $blue;
        font-weight: 600;
    }
}
.header-nav li {
    display: inline-block;
    padding: 15px 25px 15px;
}
.header-nav li a, .header-nav li a:visited {
    text-decoration: none;
    display: block;
    font-weight: 500;

}
.header-nav li:hover {
    background: #82868c;

}
.navigation {
    display: flex;
    justify-content: space-between;
}

.cart-active,
.cart-button {
    margin-left: auto;
    margin-right: 15px;
    max-width: 40px;
    width: 100%;
     background-color: transparent;
    border-style: none;
    position: relative;
    
    .cart-count {
        position: absolute;
        top: -8px;
        left:22px;
        background-color: #ff724c;
         width: 23px;
         height: 23px;
         border-radius: 50%;
         font-size: 13px;
         color: #ffff;
         border: 3px solid #535860;
         
    }
}
.cart-active {
    margin-top: 13px;
    background-color: transparent;
}

.cart-content {
    background-color: #fff;
    padding: 30px;
    text-align: center;

}
.cart {
    padding: 30px;
    h2 {
        font-size: 25px;
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 145.4%;
        letter-spacing: .01em;
        color: #777;
    }
    .button {
      display: block;
      width: 230px;
      font-weight: 600;
      font-size: 18px;
      background-color: #232323;
      border-radius: 30px;
      text-decoration: none;
      color: #ffff;
        padding: 10px 20px;
        min-width: 100px;
        text-align: center;
        cursor: pointer;
        transition: background-color .15s ease-in-out,border-color .15s ease-in-out;
        border: 1px solid transparent;
    }
    .button--black {
        margin: 0 auto;
    }
    .cart-empty {
        display: block;
        width: 300px;
        margin: 45px auto 60px;
    }

    .cart__top,
    .cart__bottom-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .content__title {
        display: flex;
        align-items: center;
        font-size: 32px;
        max-width: 200px;
        width: 100%;
        justify-content: space-around;
        svg {
             
            width: 30px;
            height: 30px;
            margin-right: 10px;
             
        }
    }
    .cart__clear {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        max-width: 185px;
        width: 100%;
        font-size: 18px;
       
        &:hover span {
            color:white;
            transition: all 0.5s ease-in;
        }
    }
    .go-back-btn, .pay-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 210px;
        background-color: transparent;
        border: 1px solid transparent;
        border-color: #111;
        color: #111;
        margin-top: 20px;
        &:hover {
            background-color: #2A94E2;
            border-color: #111;
            color: #fff;
        }
    } 
}
