@import '../../scss/variables.scss';

.header-nav {
    background: #535860;
    &__active {
        color: $blue;
        font-weight: 600;
    }
}
.header-nav li {
    display: inline-block;
    padding: 15px 25px 15px;
}
.header-nav li a, .header-nav li a:visited {
    text-decoration: none;
    display: block;
    font-weight: 500;

}
.header-nav li:hover {
    background: #82868c;

}
.navigation {
    display: flex;
    justify-content: space-between;
}

.cart-active,
.cart-button {
    margin-left: auto;
    margin-right: 15px;
    max-width: 40px;
    width: 100%;
     background-color: transparent;
    border-style: none;
    position: relative;
    
    .cart-count {
        position: absolute;
        top: -8px;
        left:22px;
        background-color: #ff724c;
         width: 23px;
         height: 23px;
         border-radius: 50%;
         font-size: 13px;
         color: #ffff;
         border: 3px solid #535860;
         
    }
}
.cart-active {
    margin-top: 13px;
    background-color: transparent;
}

.cart-content {
    background-color: #fff;
    padding: 30px;
    text-align: center;
    .empty-cart {
       width: 300px;
       height: 250px;
       margin-bottom: 30px
    }
}

