@import '../../scss/variables.scss';

.directions {
    background-color: #fff;
    &__heading {
        padding-top: 60px;
        font-size: 35px;
        text-align: center;
        line-height: 48px;
    }
    &__box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 30px;
    }
}